
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

h1 {
    font-size: 3.2em;
}

h2 {
    font-size: 2em;
}

body {
    background-color: #1f263d;
}

button:focus, input:focus {
    outline: none;
    box-shadow: none;
}

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #eedddd;
}

    .index-container > h1 {
        margin-top: 5vh;
    }

    .index-container > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-top: 25vh;
    }

.modal-bg {
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: RGBA(0,0,0,.75);
}

.enter-name-bg {
    z-index: 1;
}

.enter-name {
    background-color: #1f263d;
    border: 1px solid #eedddd;
    border-radius: 10px;
    padding: min(15%, 30px) min(10%, 45px);
}

    .enter-name form {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #eedddd;
    }

        .enter-name form h2 {
            white-space: nowrap;
        }

        .enter-name form input {
            border: 1px solid #060c11;
            border-radius: 10px;
            font-size: 1.3em;
        }

            .enter-name form input[type=text] {
                margin-top: 5px;
                width: 100%;
                background-color: #eedddd;
                padding: 5px 10px;
            }

            .enter-name form input[type=submit] {
                margin-top: 30%;
                background-color: #7D9EC0;
                padding: 5px 20px;
                transition: .1s;
            }

                .enter-name form input[type=submit]:hover {
                    background-color: #6183A6;
                }

.wrong-input {
    color: red;
}

.voice-room {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 4fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas: "users messages" "users create-message";
    height: 100vh;
    color: #eedddd;
}

    .voice-room .users {
        grid-area: users;
        border-right: 2px solid #eedddd;
        font-size: 1.2em;
        padding: 1em 0.6em 0 1.2em;
    }

        .voice-room .users ul {
            list-style: none;
            padding-left: 0;
        }

        .voice-room .users li {
            cursor: pointer;
        }

            .voice-room .users li:hover {
                color: white;
            }

            .voice-room .users li.you {
                cursor: auto;
                font-weight: bold;
            }

                .voice-room .users li.you:hover {
                    color: #eedddd;
                }

        .voice-room .users .change-user-volume {
            position: absolute;
            display: flex;
            flex-direction: column;
            padding: 0.9em;
            background-color: RGB(13,24,37);
            border-radius: .5em;
            border: 1px solid #060c11;
            font-size: .75em;
        }

            .voice-room .users .change-user-volume.hidden {
                display: none;
            }

.volume-bar {
    background-color: #333333;
    height: .7em;
    width: 200px;
    border-radius: .35em;
    margin-top: .7em;
    display: flex;
    position: relative;
    cursor: pointer;
}

    .volume-bar .volume-bar-active {
        background-color: #eedddd;
        width: 50%;
        border-radius: .35em;
        flex-shrink: 0;
    }

    .volume-bar .volume-bar-handle {
        width: 1.1em;
        height: 1.1em;
        border-radius: 100%;
        background-color: red;
        transform: translate(-50%, -0.2em);
        flex-shrink: 0;
    }

.voice-room .messages {
    grid-area: messages;
    padding: 0 25px;
}

    .voice-room .messages .message {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .voice-room .messages .message-author {
        font-weight: bold;
    }

.voice-room .create-message {
    grid-area: create-message;
    font-size: 1.3em;
    border-top: 1px solid #060c11;
}

    .voice-room .create-message form {
        margin: 25px;
        display: flex;
        flex-direction: row;
    }

        .voice-room .create-message form input {
            border-radius: 10px;
            border: none;
            padding: 5px 15px;
            border: 1px solid #060c11;
        }

            .voice-room .create-message form input:focus {
                outline: none !important;
            }

            .voice-room .create-message form input[type=text] {
                flex-grow: 1;
                background-color: #eedddd;
            }

            .voice-room .create-message form input[type=submit] {
                flex-grow: 0;
                margin-left: 25px;
                background-color: #7D9EC0;
                transition: .1s;
            }

                .voice-room .create-message form input[type=submit]:hover {
                    background-color: #6183A6;
                }

.settings-icon {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 2.2em;
    color: #eedddd;
    cursor: pointer;
}

    .settings-icon i {
        transition-duration: .2s;
        text-shadow: -2px 0 #060c11, 0 2px #060c11, 2px 0 #060c11, 0 -2px #060c11;
    }

    .settings-icon:hover i {
        transform: rotate(60deg);
    }

.settings-bg.hidden {
    display: none;
}

.settings {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #1f263d;
    border: 1px solid #eedddd;
    border-radius: 10px;
    padding: min(15%, 30px) min(10%, 45px);
    color: #eedddd;
}

    .settings .close-settings {
        position: absolute;
        border-radius: 25%;
        border: 1px solid #060c11;
        right: 10px;
        top: 10px;
        width: 28px;
        height: 28px;
        font-size: 20px;
        line-height: 26px;
        padding: 0;
        background-color: RGB(17,32,49);
        color: #eedddd;
        transition-duration: .15s;
    }

        .settings .close-settings:hover {
            background-color: RGB(13,24,37);
            color: white;
        }

    .settings .volume-settings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        margin-bottom: 20px;
    }

    .settings .volume-gate {
        background-color: #333333;
        height: .7em;
        width: 100%;
        border-radius: .35em;
        margin-top: .7em;
        display: flex;
        position: relative;
        cursor: pointer;
    }

        .settings .volume-gate .gated-volume {
            background-color: darkgreen;
            width: 5%;
            border-bottom-left-radius: .35em;
            border-top-left-radius: .35em;
            flex-shrink: 0;
        }

        .settings .volume-gate .volume-gate-handle {
            width: .6em;
            height: 1.2em;
            background-color: #eedddd;
            border: 1px solid RGBA(0,0,0, .5);
            border-radius: .15em;
            transform: translate(-50%, -0.2em);
            flex-shrink: 0;
            position: absolute;
            left: 5%;
        }

        .settings .volume-gate .active-volume {
            background-color: forestgreen;
            width: 10%;
            flex-shrink: 0;
        }

    .settings .listen-to-own-voice {
        margin-top: .9em;
        border-radius: 10px;
        border: 1px solid #060c11;
        padding: 5px;
        background-color: #7D9EC0;
        transition-duration: .15s;
        flex-grow: 0;
        align-self: flex-end;
        width: 50%;
    }

        .settings .listen-to-own-voice:hover {
            background-color: #6183A6;
        }
