@{
    ViewData["Title"] = "Home";
}

<div class="index-container">
    <h1>Easy voice chat</h1>
    <form asp-action="CreateVoiceRoom">
        <input type="submit" value= "Just create your voice room"/>
    </form>
</div>
